body,
html {
  margin: 0;
  background-color: #fff;
  overflow: hidden;
}

canvas {
  background-color: #000;
  width: 100%;
  height: 100%;
}

input[type="text"] {
  border-radius: 5px;
  border: 1px solid #000;
}